body 
{
    padding-top: 50px;
    padding-bottom:60px;   /* Height of the footer */
}

/* Set padding to keep content from hitting the edges */
.body-content
{
    padding-left: 5px;
    padding-right: 5px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt 
{
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea
{
    max-width: 280px;
}

.MainPageCenter
{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.FooterPosition
{
    list-style-type: none; 
    text-decoration: none;
    text-align: right;
}
.FooterPosition li
{
    display: inline;
    padding-right: 40px;
}

.FooterLinkAppearance:hover
{
    text-decoration: none;

}
.navbar-inverse
{
     background-color: white !important; 
}

.MainPageImage img
{
   display:block;
   margin:0 auto;
   width:900px;
   padding: 20px;

}

.float-left 
{
    float:left;
    width:300px; /* or 33% for equal width independent of parent width*/
}

/*This is the section where we talk nicely about CodeFox on the main page*/
section 
{
    padding: 100px 0;
}
section h2.section-heading
{
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}

section h3.section-subheading
{
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
}   

.service-heading
{
    margin: 15px 0;
    text-transform: none;
}

/**********************************************************************************/
/*Styles for Projectview*/

.Create
{   
    height: 269px;
}

.Project
{
    text-align: center;
    border-radius: 16px;
    margin-bottom: 15px;
    margin-right: 20px;
}
.Project .dropdown
{
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

.Project:hover
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.1s;
}

.OnHover
{
    display: none;
}

#HiddenLine
{
    display: none;
}

.Project a
{
    color: black;
    text-decoration: none;
}

.SelectDropDown
{   
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;

}

.SelectDropDown:hover
{
    color: white;
    cursor: pointer;
    background : #428bca; 
}

.Project img:hover
{
    cursor:pointer;
}

.ProjectName
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.CursorOnList
{
    cursor: pointer;
}
.CursorOnList:hover
{
    background: #428bca;
}
/*.Hamburger
{
    float: right;
    border: none;
    cursor: pointer;  
}*/

.OwnProjects
{   
    padding-top: 15px;
    padding-bottom: 15px;
    height:1%;
    overflow: visible;
    border: 0.5px solid lightgray;
    min-height: 302.6px;
}



.SharedProjects
{
    padding-top: 15px;
    padding-bottom: 15px;
    height:1%;
    overflow: visible;
    border: 0.5px solid lightgray;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    word-wrap: break-word;
}

textarea
{
  height: 100%;
    width: 100%;

}


/**********************************************************************************/
/*Styles for About*/

.OurGoals
{
    display: flex;
    position: relative;
    min-height: 350px;
}
.OurGoals p
{
    float: left;
    width: 45%;
}
.OurGoals img
{
    display: block;
    width: 55%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    padding-top: 0px; 
}

.Developers img
{
    padding: 5px;
    position: relative;
    width:  200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size:  cover;
}

.Developers p
{
    display: inline-block;
    float: right;
}

/*Ends*/
    

#MainPageSlogan
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
}

a.attempt:hover
{
    color: red;
}

#content
{
    clear:both;
	width: 950px;
	position:relative;
	min-height:330px;
}

.LineAbove 
{
    border: 4px solid red;
}

/**********************************************************************************/
/*Styles for Navbar*/

div.NavBar
{
    border-bottom: 0.5px solid #ececec !important;
}

.navbar-inverse #NavBarHamburger 
{
    background-color: #333;
}

.navbar-inverse #NavBarHamburger:hover 
{
    background-color: #5bc0de;
}

.HoverEffect 
{
    color: rgba(0,0,0,0.24);
    text-decoration: none;
    padding-top: 15px;
    height: 100%;
    font-family: font112617;
    font-size: large;
    font-weight: bold;
}

.navbar-inverse .navbar-nav > li >.HoverEffect:active,
.navbar-inverse .navbar-nav > li >.HoverEffect:hover,
.navbar-inverse .HoverEffect:hover

{
    background-color: #5bc0de;
}


#HeaderImage 
{
    background: url(Images/LOGOFINAL.png);
    background-size: 191px 107px;
    background-repeat: no-repeat;
    background-position: 0px -27px;
    height: 51px;
    width: 183px;
}

.HelloUser
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}


/**********************************************************************************/


/*styles for Editor*/
.BorderEditor
{
    border: 0.5px solid red;
}


.AceEditor
{
    height: 1000px;
    overflow: hidden;
}

#Editor
{
    position: relative;
    height: 700px;
}
.EditorArea
{
    margin-top: 20px;
}

.EditorButtons
{
    display: inline;
    margin-left: 18px;
}
.DeleteButton
{
    float: right;
    margin-right: 18px;
}

#ProjectName
{   
    padding-left: 18px;
    padding-bottom: 20px;
}

/**********************************************************************************/
/*Styles for Share*/
.ShareWindow 
{
    text-align: center;
    padding: 0 0 20px 0;
    border: 1px solid black;
    border-radius: 1%;
    margin-top: 50px;
    margin-bottom: 300px;
}

td.ShareUsername 
{
    text-align: left !important;
}

.InputField 
{
    padding: 20px;
    margin-bottom: 30px;
}

.InputField  label
{
    margin-bottom: 20px;
}

.SelectedFoundUser
{
    background: #5bc0de;
    color: white;
}

.ShowFound 
{
    height: 300px;
}

.RemoveShare
{
    color:red;
    float:right;
}

/***************************************/
/*Home Page*/
.Circle
{
    color: #5bc0de;
}

/***************************************/
/*Register Page*/

#DuplicateUsernameError 
{
    margin-bottom: -10px;
}