body {
    padding-top: 50px;
    padding-bottom:60px;   /* Height of the footer */
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.MainPageCenter {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.FooterPosition{
    list-style-type: none; 
    text-decoration: none;
    text-align: right;
}
.FooterPosition li{
    display: inline;
    padding-right: 40px;
}

.FooterLinkAppearance:hover{
    text-decoration: none;

}
.navbar-inverse
 {
     background-color: white !important; 
}

.MainPageImage img
{
   display:block;
   margin:0 auto;
   width:900px;
   padding: 20px;

}

.float-left 
{
float:left;
width:300px; /* or 33% for equal width independent of parent width*/
}

/*This is the section where we talk nicely about CodeFox on the main page*/
section {
  padding: 100px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}   

.service-heading
{
  margin: 15px 0;
  text-transform: none;
}

/**********************************************************************************/
/*Styles for Projectview*/

.Create
{
    height: 199.2px;
    border: 1px solid gray;
    margin-bottom: 15px;
    color: gray;
}

.Project
{
    border: 1px solid gray;
    margin-bottom: 15px;
    color: gray;
}

.Project:hover
{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
}



.OwnProjects
{   
    padding-top: 15px;
    padding-bottom: 15px;
    overflow:hidden;
    height:1%;
    border: 1px solid lightgray;
}

.SharedProjects
{
    padding-top: 15px;
    padding-bottom: 15px;
    overflow:hidden;
    height:1%;
    border: 1px solid lightgray;
}


/**********************************************************************************/
/*Styles for About*/

.OurGoals
{
    display: flex;
    position: relative;
    min-height: 350px;
}
.OurGoals p
{
    float: left;
    width: 45%;
}
.OurGoals img
{
    display: block;
    width: 55%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    padding-top: 0px; 
}

.Developers img
{
    padding: 5px;
    float: left;
    position: relative;
    width:  200px;
    height: 200px;
    background-repeat: no-repeat;
    background-size:  cover;
}

.Developers p
{
    display: inline-block;
    float: right;
}

/*Ends*/


#MainPageSlogan
{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
}

a.attempt:hover{
    color: red;
}

#content
{
    clear:both;
	width: 950px;
	position:relative;
	min-height:330px;
}

.LineAbove {
    border: 4px solid red;
}

/**********************************************************************************/
/*Styles for Navbar*/

.navbar-inverse #NavBarHamburger {
    background-color: palevioletred;
}

.navbar-inverse #NavBarHamburger:hover {
    background-color: aliceblue;
}

.HoverEffect {
    color: #808080;
    text-decoration: none;
    padding-top: 15px;
    height: 100%;
}

.navbar-inverse .navbar-nav > li >.HoverEffect:hover,
.navbar-inverse .HoverEffect:hover {
    color: blue;
}
/**********************************************************************************/
<<<<<<< HEAD
=======

>>>>>>> 0d4725fed844c6fa83a4ce669c6af5cc12c8b928
/*styles for Editor*/
.BorderEditor
{
    border: 1px solid red;
}
<<<<<<< HEAD
=======

/*Styles for Editor*/
>>>>>>> 0d4725fed844c6fa83a4ce669c6af5cc12c8b928

.AceEditor
{
    height: 1000px;
    overflow: hidden;
}

#Editor
{
    position: relative;
    height: 700px;
}

.EditorButtons
{
    display: inline;
    color:red;
}

/**********************************************************************************/
/*Styles for Share*/

.lr {
    height: 25px;
    width: 1px;
    margin-left: 35px;
    background-color: #222;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    z-index: 1051;
}

.rl {
    height: 25px;
    width: 1px;
    background-color: #222;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    z-index: 1052;
}

.ShareWindow {
    text-align: center;
    padding: 0 0 20px 0;
    border: 1px solid black;
    border-radius: 1%;
    margin-top: 50px;
    margin-bottom: 300px;
}

.InputField {
    padding: 10px;
    margin-bottom: 30px;
}

.InputField  label{
    margin-bottom: 20px;
}

.CloseShare {
    text-align:right;
}