@model CodeFox.Models.ViewModels.ProjectsViewModel

<div class="modal" id="OpenModalDelete">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Details</h4>
            </div>
            <div class="modal-body">
                <div class="container DeleteContent">
                </div>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "DeleteForm" }))
                {
                    <input type="hidden" value="@Model.ID" class="ProjectID" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                }
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
