@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div>
    <h1 class="text-danger">OPPS</h1>
    <h2 class="text-danger">Looks like something went wrong</h2>
    <h3 class="text-danger">We will send our highly trained employees to take a look at this</h3>
    @Html.ActionLink("Go Home", "Index", "Home", null, new { @class = "btn btn-info" })
</div>