@model CodeFox.Models.ViewModels.EditorViewModel
@{
    ViewBag.Title = "Index";
}

<div>
    <h1>@Html.DisplayFor(model => model.Name)</h1>

    <div>
        <!-- Nav bar where SAVE EXPORT SHARE ADD FILE CLOSE AND DELETE PROJECT WILL BE-->
        @Html.ActionLink("Share with your foxes!", "Share", "Editor", null, new { @class = "EditorButtons", ProjectID = Model.ID})
    </div>
    <div class="container">
        <!-- DIV AROUND THE FILE TREE VIEW AND EDITOR-->
        <div class="col-sm-2">
            <!--FILETREE-->
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Editor</h3>
            </div>
            <div class="panel-body">
                <pre id="Editor">function foo(items) {
                var i;
                for (i = 0; i &lt; items.length; i++) {
                    alert("Ace Rocks " + items[i]);
                }
            }</pre>
            </div>
        </div>
        <div class="text-center">---End of editor---</div>
    </div>

    <script src="~/scripts/AceEditor/ace.js" type="text/javascript" charset="utf-8"> </script>
    <script>
                var editor = ace.edit("Editor");
                editor.setTheme("ace/theme/twilight");
                editor.session.setMode("ace/mode/javascript");
    </script>
   <!-- <div class="BorderEditor">
        <!-- DIV AROUND THE FILE TREE VIEW AND EDITOR
        <div class="col-sm-2">
            <!--FILETREE-
        </div>
        <div class="AceEditor col-sm-10">
            <!--EDITOR
            <pre id="Editor">function foo(items) {
                var i;
                for (i = 0; i &lt; items.length; i++) {
                    alert("Ace Rocks " + items[i]);
                }
            }</pre>
            <script src="~/scripts/AceEditor/ace.js" type="text/javascript" charset="utf-8"> </script>
            <script>
                var editor = ace.edit("Editor");
                editor.setTheme("ace/theme/twilight");
                editor.session.setMode("ace/mode/javascript");
            </script>
        </div>
    </div>-->
</div>

