@model CodeFox.Models.ViewModels.EditorViewModel
@{
    ViewBag.Title = "Index";
}

<div>
    <h1>@Html.DisplayFor(model => model.Name)</h1>
    
    <div>
        <!-- Nav bar where SAVE EXPORT SHARE ADD FILE CLOSE AND DELETE PROJECT WILL BE-->
    </div>
    <div>
        <!-- DIV AROUND THE FILE TREE VIEW AND EDITOR-->
        <div>
            <!--FILETREE-->
        </div>
        <div>
            <!--EDITOR-->
        </div>
    </div>
</div>

