
@{
    ViewBag.Title = "ShareTemplate";
}

<div class="col-md-12 col-sm-12 col-md-offset-3 col-sm-offset-3">
    <div class="col-md-6 col-sm-6 ShareWindow">
        <h2>Share with fellow foxes</h2>
        <div class="row InputField">
            <label for="User">Add collaborator by Username</label> <br />
            <input type="text" id="User" placeholder="Fellow Fox" />
        </div>
        <button class="btn btn-default">Cancel</button>
        <button class="btn btn-default">Share</button>
    </div>
</div>

