@model CodeFox.Models.ViewModels.ShareProjectViewModel
@{
    ViewBag.Title = "ShareTemplate";
}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.js"></script>

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "ShareForm" }))
{
    @Html.AntiForgeryToken()
    <div class="col-md-12 col-sm-12">
        <div class="col-md-6 col-sm-6 ShareWindow col-md-offset-3 col-sm-offset-3">
            <div class="col-md-12 col-sm-12 CloseShare">
                <div class="lr pull-right">
                    <div class="rl pull-right">
                    </div>
                </div>
            </div>
            <h2>Share with fellow foxes</h2>
            <div class="row InputField">
                <label for="User">Add collaborator by Username</label> <br />
                <div class="table-responsive">
                    <table class="table table-striped col-sm-12 col-md-12">
                        <thead>
                            <tr>
                                <th>Collaborators</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.SharedWith)
                            {
                                <tr class="clickable-row">
                                    <td>
                                        @item.Username
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>                
            </div>
            <strong>Add collaborator</strong>
            <input type="text" id="AddUsername" placeholder="Search for a username..." />
            <div id="FoundUsers" class="col-sm-12 col-md-12 col-lg-12" style="height:100px"></div>
            <input type="hidden" name="ProjectID" id="ProjectID" value="@Model.ShareProject.ID" />

            @Html.ActionLink("Go Back", "Index", "Editor", new { id = Model.ShareProject.ID }, new { @class = "btn btn-default" })
            <button type="submit" id="ShareSubmitButton" class="btn btn-default" disabled>Share</button>
        </div>
    </div>
}

@section scripts 
{
    <script>

    $(document).ready(function ()
    {
            $("#AddUsername").keyup(function ()
            {
                var form = $(this);
                var prefix = $("#AddUsername").val();
                $.ajax({
                    url: '/Editor/Autocomplete/',
                    data: { 'term': prefix },
                    method: 'POST',
                    success: function (data)
                    {

                        $('#FoundUsers').html('');
                        if (data != "")
                        {
                            var html = "";
                            for (var i = 0; i < data.length; i++)
                            {
                                html += "<div type='text' value=" + data[i].Username + "' name='SelectFoundUsers' class='SelectClass list-group-item col-xs-12 col-sm-12 col-md-12 col-lg-12'>";
                                html += data[i].Username;
                                html += "</div>";
                            }
                            $('#FoundUsers').append(html);
                        }
                        else if (prefix == "")
                        {
                            $('#FoundUsers').html('');
                        }
                        else
                        {
                            $('#FoundUsers').html('<p>User Not found</p>');
                        }
                    }
                });
            });

            $('#FoundUsers').on('click', function ()
            {
                self = $(this);
                $(".SelectClass").unbind('click');
                $('.SelectClass').on('click', function ()
                {
                    var ElementArray = document.getElementsByClassName('SelectedFoundUser');
                    if ($(this).hasClass("SelectedFoundUser"))
                    {
                        $('.SelectedFoundUser').removeClass('SelectedFoundUser');
                        document.getElementById("ShareSubmitButton").disabled = true;
                    }          
                    else 
                    {
                        if (ElementArray.length >= 1) {
                            $('.SelectedFoundUser').removeClass('SelectedFoundUser');
                        }
                        $(this).addClass('SelectedFoundUser');
                        var user = $(this).val()
                        $(this).attr('AddUsername', user);
                        document.getElementById("ShareSubmitButton").disabled = false;
                    }
                });
            });
       })
</script>

}


