@{
    ViewBag.Title = "About us";
}
<h2>@ViewBag.Title.</h2>

    <h3>Our goals</h3>
<div class="OurGoals">
    <p>
        We are a team of developers that have been working enthusiastically on our web solution and our pride, CodeFox.
        Our goal is to provide the best editor-working envioronment of all time.
       The developers behind CodeFox are developers and students in HR that started this project as a school assignment and have been
        working hard on it ever since. At the beginning nobody believed in us but look at us now. We gettin paper.
    </p>
    <img src="~/Content/Images/teamPhoto.jpg" class="img-responsive" alt="theTeam" /> 
</div>
<br>

<div class="container">

    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">Our talented and fabulous-looking team</h2>
            <h3 class="section-subheading text-muted">We deliver</h3>
        </div>
    </div>  
    <div class="row">

        <div class="col-md-4 Developers">
            <h3>Guðbert</h3>
            <img src="~/Content/Images/begs.png" class="img-responsive" alt="Beggi" />
            <p>
                Guðbert has been with us from the start and was discovered working hard as always in Sólin, HR. He is a very talented young man and has the skills to lead this group of fine young men.
            </p>
        </div>

        <div class="col-md-4 Developers">
            <h3>Joey</h3>
            <img src="~/Content/Images/joey.png" class="img-responsive" alt="Joey" />
            <p>
                Joey, or like someone would call him, MR. Database, is our superman. The Saga says that he, only six years old, successfully delivered an SQL injection on the FBI database. Instead of being punished, he was recruited. 
            </p>
        </div>
        <div class="col-md-4 Developers">
            <h3>Legs</h3>
            <img src="~/Content/Images/legs.png" class="img-responsive" alt="Legs" />
            <p>
                Legs is a fantastic addition to our team. He worked for many years in Singapour, creating immensely complex backend system for all the national banks of the country. He was tempted by the CodeFox vision and moved home.
            </p>
        </div>
        </div>
        <div class="row">
            <div class="col-md-4 Developers">
                <h3>Eagleman</h3>
                <img src="~/Content/Images/offman.png" class="img-responsive" alt="Legs" />
                <p>
                    The Eagleman nicnkame is no coincident. At a shockingly fast time, he manage to fly through the code and fix things people thought not fixable. Having worked on Siri for three years, he wanted new challenges.
                </p>
            </div>
            <div class="col-md-4 Developers">
                <h3>Pedro</h3>
                <img src="~/Content/Images/pedro.png" class="img-responsive" alt="Legs" />
                <p>
                    Pedro is our mathematical genius, he thinks in algorithms and solves them, improves them, breaths them. To name one of his many achievements, he created the secure hash algorithm which is dominating the secure web.  
                </p>
            </div>
        </div>
    </div>



