@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2><br />

<h3>Customer Support</h3>
<p> We believe the key to success lies in our ability to support and establish mutually beneficial long-term relationships with our customers.
    This will lead to success with the users in their tasks and will also benefit us in building a good and reliable user base for our website and future projects.
    With CodeFox, the users always come first and we will provide support in any way possible.</p>
<br />

<h3>Report a bug</h3>
<p>If you have experienced any issues with the system, please let us know! We would like to get on that immediately!</p>
<address>
    <strong>Bug report email:</strong>   <a href="mailto:Support@example.com">bugs@CodeFox.com</a>
</address>
<br />

<h3>Opening Hours</h3>
<p>Monday - Friday: 10:00 - 15:30</p>
<p>Saturday - Sunday: Closed</p>
<br />

<h3>How to find us</h3>
<address>
    CodeFoxvegur 1<br />
    101 Reykjavík, Iceland<br />
    <abbr title="Phone">Phone:</abbr>
    1234-567
</address>